# 5주차 실습 노트북
* 반드시 손으로 여러 번 반복해서 익히기 바랍니다.

## 리스트 선언 방법

* 빈 리스트 만들기

In [14]:
a = []
print(a)
print(type(a))

[]
<class 'list'>

In [15]:
b = list()
print(b)
print(type(b))

[]
<class 'list'>

* 값을 넣어 리스트 만들기

In [16]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [29]:
a = list([1,2,3,4,5])
print(a)

b = list((1,2,3,4,5))
print(b)

c = list({1,2,3,4,5})
print(c)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

## 리스트에 들어가는 값

* 다양한 자료형을 혼합하여 삽입 가능

In [32]:
a = [1,2,3,'abc',4,'5']
print(a)

[1, 2, 3, 'abc', 4, '5']

In [38]:
b = ['',1,'a','hello',' ']
print(b)

['', 1, 'a', 'hello', ' ']

In [39]:
c = [ , , ]

SyntaxError: invalid syntax (<ipython-input-39-169d0d77d42a>, line 1)

## 리스트에 값 넣는 방법

* $N \times M$ 행렬로 값을 넣을 수 있음

(리스트 안에 리스트 넣기)

In [40]:
[[1,2],[3,4]]

[[1, 2], [3, 4]]

In [53]:
a = [[1,2,3],
    [4,5,6]]
print(a)

In [53]:
b = [[1,2],
    [3,4],
    [5,6]]
print(b)

[[1, 2, 3], [4, 5, 6]]
[[1, 2], [3, 4], [5, 6]]

In [52]:
# 가독성을 위해 줄바꿈과 들여쓰기 혼합
c = [
    [1,2,3,4,5],
    [6,7,8,9,10],
    [11,12,13,14,15]
]
print(c)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

* 자유로운 형태로 값 넣을 수 있음

In [49]:
a = [1,2,3,[4,5,6],[7,8]]
print(a)

[1, 2, 3, [4, 5, 6], [7, 8]]

In [51]:
a = [
    1,
    2,
    3,
    [4,5,6],
    [7,8]
]
print(a)

[1, 2, 3, [4, 5, 6], [7, 8]]

## 리스트의 차원 바라보기

$2 \times 3$ 행렬일 때,
* 0번째 차원 : 2차원
* 1번째 차원 : 3차원

<table>
    <tr>
        <td>1</td><td>2</td><td>3</td>
    </tr>
    <tr>
        <td>4</td><td>5</td><td>6</td>
    </tr>
</table>

In [66]:
a = [[7, 9, 2],
     [2, 4, 8]]
print(a)

[[7, 9, 2], [2, 4, 8]]

In [73]:
a = [1, 5, 1, 8, 7]
print(a)

[1, 5, 1, 8, 7]

* 3차원 - 아무 값이나 넣어서 손으로 직접 만들어보자.

$3\times 2\times 4$ 행렬 만들기

In [81]:
a = [
    # 0번째 차원
    [
        # 1번째 차원
        [1,2,3,4], # 리스트안에 2번째 차원의 값을 4개씩 넣으면 끝
        [5,6,7,8]
    ],
    [
        [9,10,11,12],
        [13,14,15,16]
    ],
    [
        [17,18,19,20],
        [21,22,23,24]
    ]
]
print(a)

[[[1, 2, 3, 4], [5, 6, 7, 8]], [[9, 10, 11, 12], [13, 14, 15, 16]], [[17, 18, 19, 20], [21, 22, 23, 24]]]

* 4차원도 쉬움 - 아무 값이나 넣어서 손으로 직접 만들어보자.

$3\times 2\times 4\times 5$

$a_{i,j,k,l}$

* $i \in [0,3)$
* $j \in [0,2)$
* $k \in [0,4)$
* $l \in [0,5)$

In [87]:
a = [
    # 0번째 차원
    [
        #1번째 차원
        [
            # 2번째 차원
            [1,2,3,4,5], # 3번째 차원은 값을 5개씩 넣으면 끝
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ],
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ]
    ],
    [
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ],
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ]
    ],
    [
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ],
        [
            [1,2,3,4,5],
            [6,7,8,9,10],
            [11,12,13,14,15],
            [16,17,18,19,20]
        ]
    ],
]

## 리스트에 저장된 값 가져오기

* 1차원

In [98]:
a = [1,2,3,4,5]

print(a[0])
print(a[3])

1
4

* 다차원

In [97]:
# 2 x 3
a = [[1,2,3],
    [4,5,6]]

print(a[0])
print(a[0][1])

[1, 2, 3]
2

In [103]:
# 2 x 3 x 4
a = [
    [
        [9,14,20,6],
        [17,14,1,0],
        [5,5,8,0]
    ],
    [
        [16,23,5,18],
        [8,11,11,6],
        [22,3,8,19]
    ]
]

print(a[1][2][0])

22

* 무작위 모양의 리스트에서 값 가져오기

In [113]:
a = [1,2,3,[4,5,6,[7,'k']],['a','b']]
print(a[0])
print(a[3])
print(a[3][3][1])
print(a[4][1])

1
[4, 5, 6, [7, 'k']]
k
b

* 뒤에서부터 가져오기

In [125]:
a = [1,2,3,4,5]
print(a[-1])
print(a[-4])

5
2

## 리스트 슬라이싱

In [133]:
a = [1,2,3,4,5,[6,7],8]
print(a[2:4])
print(a[-3:-1])

[3, 4]
[5, [6, 7]]

In [134]:
# 시작 인덱스를 생략하면 가장 앞 부터
a = [1,2,3,4,5]
print(a[:3])

[1, 2, 3]

In [135]:
# 끝 인덱스를 생략하면 가장 뒤 까지
a = [1,2,3,4,5]
print(a[2:])

[3, 4, 5]

In [137]:
a = ['a','b','c','d','e']
b = a[:4]
print(b)

['a', 'b', 'c', 'd']

## 리스트에 들어있는 값 수정하기

In [157]:
a = [1,2,5,4,5,6]
print(a)
a[2] = 3
print(a)

[1, 2, 5, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

## 리스트 관련 함수

* append(값)

In [161]:
a = [1,2,3]
print(a)
a.append(4)
print(a)

[1, 2, 3]
[1, 2, 3, 4]

In [163]:
a = [1,2,3]
print(a)
a.append([1,2])
print(a)

[1, 2, 3]
[1, 2, 3, [1, 2]]

* extend(리스트)

In [178]:
a = [1,2,3]
print(a)
a.extend([4,5])
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]

In [179]:
a = [1,2,3]
print(a)
b = [4,5]
a.extend(b)
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]

In [177]:
# 숫자를 넣으면 에러
a = [1,2,3]
print(a)
a.extend(4)
print(a)

[1, 2, 3]

TypeError: 'int' object is not iterable

* \+ 기호로 리스트를 연결해줄 수도 있음

In [210]:
a = [1,2,3]
print(a)
b = [4,5]
a = a + b
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]

In [211]:
a = [1,2,3]
print(a)
b = [4,5]
a += b
print(a)

[1, 2, 3]
[1, 2, 3, 4, 5]

* 문자열과 유사하게 \* 연산도 가능

In [213]:
a = [1,2,3]
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

* insert(인덱스, 값)

In [180]:
a = ['A','B','C','D']
print(a)
a.insert(1,'E')
print(a)

['A', 'B', 'C', 'D']
['A', 'E', 'B', 'C', 'D']

* remove(값)

In [182]:
a = ['A','E','B','C','D']
print(a)
a.remove('E')
print(a)

['A', 'E', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

In [184]:
# 리스트 안에 동일한 값이 여러 개 있으면 가장 앞 하나만 삭제
a = [1,2,3,4,5,2,2,6]
print(a)
a.remove(2)
print(a)

[1, 2, 3, 4, 5, 2, 2, 6]
[1, 3, 4, 5, 2, 2, 6]

In [186]:
# 지우려는 값이 없으면 에러
a = [1,2,3]
print('초기 a:',a)
a.remove(2)
print('2를 삭제한 a:',a)
a.remove(2)
print('2를 한 번 더 삭제한 a:',a)

초기 a: [1, 2, 3]
2를 삭제한 a: [1, 3]

ValueError: list.remove(x): x not in list

* index(값)

In [194]:
a = [1,2,3,4,5]
a.index(3)

2

In [195]:
# 리스트 안에 동일한 값이 여러 개 있으면 가장 앞에 나타난 인덱스를 보임
a = [1,2,3,4,2,2,3]
a.index(2)

1

In [193]:
# 값이 없으면 에러
a = [1,2,3]
print(a)
a.index(5)

[1, 2, 3]

ValueError: 5 is not in list

* count(값)

In [197]:
a = [1,2,2,3,3,3,4,4,4,4]
print(a.count(2))
print(a.count(4))
print(a.count(5))

2
4
0

* sort()

In [200]:
a = [1,6,3,4,5,2,7]
print(a)
a.sort()
print(a)

[1, 6, 3, 4, 5, 2, 7]
[1, 2, 3, 4, 5, 6, 7]

In [201]:
# 내림차순 정렬은 sort(reverse=True) 이용
a = [1,6,3,4,5,2,7]
print(a)
a.sort(reverse=True)
print(a)

[1, 6, 3, 4, 5, 2, 7]
[7, 6, 5, 4, 3, 2, 1]

In [203]:
a = ["가","마","나","바","다","사","라"]
print(a)
a.sort()
print(a)

['가', '마', '나', '바', '다', '사', '라']
['가', '나', '다', '라', '마', '바', '사']

In [204]:
a = ["가","마","나","바","다","사","라"]
print(a)
a.sort(reverse=True)
print(a)

['가', '마', '나', '바', '다', '사', '라']
['사', '바', '마', '라', '다', '나', '가']

In [205]:
a = ["A","E","B","F","C","G","D"]
print(a)
a.sort()
print(a)

['A', 'E', 'B', 'F', 'C', 'G', 'D']
['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [207]:
a = ["A","E","B","F","C","G","D"]
print(a)
a.sort(reverse=True)
print(a)

['A', 'E', 'B', 'F', 'C', 'G', 'D']
['G', 'F', 'E', 'D', 'C', 'B', 'A']

## 튜플 선언 방법

In [220]:
a = ()
print(a)

In [221]:
a = tuple()
print(a)

()

In [245]:
# 괄호 생략 가능. 하나의 값은 콤마로 끝나야 함
a = 1,
print(a)

(1,)

In [246]:
a = (1,)
print(a)

(1,)

In [247]:
a = tuple((1,))
print(a)

(1,)

In [248]:
a = 1,2,3
print(a)

(1, 2, 3)

In [249]:
a = (1,2,3)
print(a)

(1, 2, 3)

In [250]:
a = tuple((1,2,3))
print(a)

(1, 2, 3)

## 튜플에 저장된 값 가져오기

* 1차원

In [267]:
a = (1,2,3,4,5)

print(a[0])
print(a[3])

1
4

* 다차원

In [268]:
# 2 x 3
a = ((1,2,3),
    (4,5,6))

print(a[0])
print(a[0][1])

(1, 2, 3)
2

## 튜플 슬라이싱

In [277]:
a = (1,2,3,4,5,[6,7],8)
print(a[2:4])
print(a[-3:-1])

(3, 4)
(5, [6, 7])

In [278]:
a = (1,2,3,4,5)
print(a[:3])

(1, 2, 3)

In [279]:
a = (1,2,3,4,5)
print(a[2:])

(3, 4, 5)

In [280]:
a = ('a','b','c','d','e')
b = a[:4]
print(b)

('a', 'b', 'c', 'd')

## 리스트와 튜플의 원소 삭제

In [252]:
# list는 위에서 배운 remove로 특정 값을 지정해서 삭제 가능
a = [1,2,3]
print(a)
a.remove(2)
print(a)

[1, 2, 3]
[1, 3]

In [253]:
# 또는 del 문을 써서 삭제
a = ['a','b','c','d','e']
print(a)
del a[1]
print(a)

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'd', 'e']

In [255]:
# 범위를 지정하여 삭제 가능
a = ['a','b','c','d','e']
print(a)
del a[2:4]
print(a)

['a', 'b', 'c', 'd', 'e']
['a', 'b', 'e']

In [256]:
# 튜플은 한 번 선언하면 원소 삭제 불가능
a = ('a','b','c','d','e')
del a[0]

TypeError: 'tuple' object doesn't support item deletion

In [257]:
# 튜플은 한 번 선언하면 원소 삭제 불가능
a = ('a','b','c','d','e')
del a[2:3]

TypeError: 'tuple' object does not support item deletion

In [258]:
# 튜플은 한 번 선언하면 원소 삭제 불가능
a = ('a','b','c','d','e')
a.remove('b')

AttributeError: 'tuple' object has no attribute 'remove'

In [262]:
a = ['a','b','c','d','e']
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [264]:
# 쓸 수 있는 함수가 count, index 밖에 없음
a = ('a','b','c','d','e')
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [274]:
a = ([1,2,3],(4,5,6))
print(a)
a[0][1] = 3
print(a)
a[0].append(4)
print(a)

([1, 2, 3], (4, 5, 6))
([1, 3, 3], (4, 5, 6))
([1, 3, 3, 4], (4, 5, 6))